@model IEnumerable<ArticleResponse>

@{
    ViewBag.Title = "Home";
}

<div class="container">
    <div class="flex">
        <div class="flex-1">
            <form>
                <select class="sort-dropdown" name="sortBy" onchange="this.form.submit()" style="width: 200px">

                    <option selected disabled>Sort by</option>

                    @foreach (var option in ViewBag.SortByOptions)
                    {
                        if (option.Key == ViewBag.CurrentSortByOption)
                        {
                            <option value="@option.Key" selected="selected">@option.Value</option>
                        }
                        else
                        {
                            <option value="@option.Key">@option.Value</option>
                        }
                    }
                </select>

            </form>
        </div>
    </div>

    @foreach (var article in Model)
    {
        <div class="preview-article-box">
            <h2>@article.Title</h2>
            <p>@article.PreviewText</p>
            <p>@article.Views</p>
            <a asp-controller="Articles" asp-action="ArticleDetails" asp-route-id="@article.Id" class="button-link button-blue-back">Read more.</a>
        </div>
    }
</div>
